[gcode_macro START_PRINT_CURA]
gcode:

###### Bed Prparing ######
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    ; Start bed heating
    M140 S{BED_TEMP}

###### Set Bed mesh ######
; Use absolute coordinates
    G90
; Home the printer
    G28
; Bed Mesh
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE LOAD=default   

###### Extruder preparinig ######

    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    M190 S{BED_TEMP}

###### Print ######

    M109 S{EXTRUDER_TEMP}
    LINE_PURGE


[gcode_macro START_PRINT_ORCA]
gcode:
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(200)|float %}
    ; Start bed heating
    M140 S{BED_TEMP}
    ; Use absolute coordinates
    G90
    ; Reset the G-Code Z offset (adjust Z offset if needed)
    ; SET_GCODE_OFFSET Z=0.0
    ; Home the printer
    G28
    M420 S1 
    ; Move the nozzle near the bed
    G1 Z5 F3000
    ; Move the nozzle very close to the bed
    G1 Z1 F300
    ; Move the nozzle to wipe posision 
   G90
    G1 X-11 Y213 F3000
    G1 Z60 F800
    ; Wait for bed to reach temperature
    M190 S{BED_TEMP}
    ; Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    BED_MESH_CALIBRATE METHOD=rapid_scan ADAPTIVE=1
    #BED_MESH_PROFILE LOAD=default
    #CLEAN_NOZZLE
    # Move the nozzle to LB Corrner
    G1 X150 Y150 Z5 F3000
    # Move the nozzle very close to the bed
    # G1 Z0.2 F300
    
[gcode_macro END_PRINT]
gcode:
    ; Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    ; Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    G1 Z10 F3000                 # Raise nozzle by 10mm
    G90
    G28 X0 Y0                    # Move the nozzle to X0 Y0
    G1 Y300 F6000                # Move Y330 to 
    M84                          # Disable steppers

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set X = params.X|default(-11)|int %}
    {% set Y = params.Y|default(213)|int %}
    {% set E = params.E|default(1)|int %}
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G90
    G1 X{X} Y{Y} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    {% set E = params.E|default(1)|int %}
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro CLEAN_NOZZLE]
gcode:
  SAVE_GCODE_STATE NAME=CLEAN_NOZZLE_state
  G90
  G1 X120 Y320 F10000
  {% for wipe in range(8) %}
    {% for coordinate in [(120,315),(140,330)] %}
      G0 X{coordinate[0]} Y{coordinate[1] - 0.5 * wipe} F6000
    {% endfor %}
  {% endfor %}
  G1 X120 Y300  F10000
  RESTORE_GCODE_STATE NAME=CLEAN_NOZZLE_state

;Below Macro with credit to Hywel Martin #https://github.com/KevinOConnor/klipper/issues/1354
[gcode_macro PARK_MACRO]

gcode:
  M117 PARKING..
  G91
  G1 E-3.14 F1500
  G90
  G1 X-11 Y213 F3000

[gcode_macro UNLOAD]
gcode:
  G91
  G1 E5.0 F1200
  G1 E3.0 F1600
  G1 E-13.14 F7000
  G1 E-100 F1600
  G90
[gcode_macro FILEMENT_CHANGE_UNLOAD]
gcode:
  PAUSE
  UNLOAD
[gcode_macro FILEMENT_CHANGE_RESUME]
gcode:
  CLEAN_NOZZLE
  RESUME


[gcode_macro PURGE]
gcode:
  M117 PURGING..
  G91
  G1 E45.0 F250
  G90

[gcode_macro LOAD_FILAMENT]
gcode:
  M117  LOADING...
  G91
  G1 E25.0 F1000
  G1 E50 F2500
  G4 P900
  G1 E45.0 F250
  G90

[gcode_macro RESUME_MACRO]
gcode:
  M117  RESUMING...
  RESUME

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}


  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolute position

  ##  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 5 min"               # Display info on display
    G4 P300000                                          # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  SET_DISPLAY_TEXT MSG="Hotend: 150c"                   # Display info on display
  M109 S150                                             # Heat hotend to 150c

  ##  Uncomment for Trident (Z_TILT_ADJUST)
  SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on displa
  Z_TILT_ADJUST                                        # Level the printer via Z_TILT_ADJUST
  G1 X165 Y165 Z15 F9000       #G1 X{x_wait-25} Y{y_wait-25} Z15 F9000 
  G28                                              # Home Z again after Z_TILT_ADJUST

  ##  Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Bed mesh"                      # Display info on display
  BED_MESH_CALIBRATE METHOD=rapid_scan ADAPTIVE=1
  #BED_MESH_PROFILE LOAD=default                        # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Display info on display
  #G0 X120 Y320 F10000                                   # Go to clean posistion
  M107                                                  # Turn off partcooling fan
  M109 S{target_extruder}                               # Heat the hotend to set temp
 #CLEAN_NOZZLE
 #LINE_PURGE

